<section id="mechanic-show-<%=@mechanic.id%>">
  <h1><%= @mechanic.name %></h1>
  <h3>Years Of Experience: <%= @mechanic.years_experience %></h3>

  <h4>Rides Mechanic Is Working On:</h4> 
  <ul>
    <% @mechanic.rides.each do |ride| %>
      <li><%= ride.name %></li>
    <% end %>
  </ul>

  <h4>Add Ride To Mechanic's Workload:</h4>
  <%= form_with(model: [@mechanic, Ride.new], url: mechanic_path(@mechanic), method: :get) do |form| %>
    <div class="field">
      <%= form.label :ride_id, "Ride ID:" %>
      <%= form.text_field :ride_id %>
    </div>
    <%= form.submit "Submit" %>
  <% end %>
</section>
 